*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: #1e1e1e;
    color: ghostwhite;
    background:fixed;
}
.main-title{
    font-size: 100px;
}
.main-features{
    font-size: 50px;
    font-weight: lighter;
}
.bt-onc{
    transition: all 0.3s;
    background: transparent;
    border:3px white solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    color:white;
    font-size: 20px;
    display: none;
}
.bt-onc:hover{
    border:8px lightgray solid;
}
.bt-onc:active{
    border:3px white solid;
}
#about-us{
    width: 100%;
    /* height: 400px; */
    background-color: #1e1e1e;
}
.about-us-content{
    line-height: 30px;
    font-size: 17px;
    font-weight: lighter;
    padding: 20px;
    max-width: 1000px;
    color:#b9b7b7;
    /* position: relative;
    top:-20px; */
}
.top{
    background:rgba(31, 31, 31, 0.7);
}



.logo-png{
    height: 50px;
    padding: 15px;
    position: relative;
    left: 20px;
}
.surz{
    background: #232323;
    width: 100%;
}
.top-title{
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    left:50px;
    line-height: 90px;
}
.surz-content{
    line-height: 30px;
    font-size: 17px;
    font-weight: lighter;
    padding: 20px;
    max-width: 1000px;
    color:#b9b7b7;
}
.go-to-surz-download-page{
    width: 300px;
    height: 40px;
    background-color:#525252;
    color:lightgray;
    transition: all 0.4s;
}
.go-to-surz-download-page:hover{
    background-color:#3f3f3f;
}

::selection {
    color: #fff;
    background: #a5adcb;
}

.title-two{
    font-weight: bolder;
    font-size: 35px;
}

.goto-surz{
    width: 170px;
    height: 40px;
    background-color:#666a81;
    color:lightgray;
    transition: all 0.4s;
    float:right;
    margin:25px;
}
.goto-surz:hover{
    background-color:#3f3f3f;
}
@media screen and (max-width:544px){
    .main-features{
        font-size: 20px;
    }
    .main-title{
        font-size: 80px;
    }
    .go-to-surz-download-page{
        width: 85%;
    }
}
@media screen and (max-width:380px){
    .goto-surz{
        display: none;
    }
}
button{
    border-radius: 4px;
}